@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2 class="jumbotron">Are you sure you want to delete this?</h2>

<div class="container=fluid">
  @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
  @using (Html.BeginForm())
  {
      <input type="submit" value="Delete" />
  }
  @Html.ActionLink("Back to treats", "Index")
</div>