@{
  Layout = "_Layout";
}

<h1>Welcome to the Pierre's Sweet and Savory Treats!</h1>

<button type="button" class="btn btn-light">@Html.ActionLink("Enter as User", "Index", "Account")</button>
<button type="button" class="btn btn-light">@Html.ActionLink("View Treats as Guest", "Index", "Treats")</button>
<button type="button" class="btn btn-light">@Html.ActionLink("View Flavors as Guest", "Index", "Flavors")</button>